@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: rgb(224, 231, 255);
     background-color: rgb(224, 231, 255);
    background-image: radial-gradient(at 29% 21%, rgb(224, 242, 254) 0, transparent 18%), radial-gradient(at 75% 22%, rgb(252, 231, 243) 0, transparent 18%), radial-gradient(at 61% 13%, rgb(252, 231, 243) 0, transparent 15%), radial-gradient(at 47% 80%, rgb(244, 244, 245) 0, transparent 82%), radial-gradient(at 25% 38%, rgb(186, 230, 253) 0, transparent 22%);
    margin: 15px;
    border-radius: 10px;
      
}



@media (max-width:700px) {

    body {

        background-color: rgb(224, 231, 255);
        background-image: radial-gradient(at 44% 21%, rgb(224, 242, 254) 0, transparent 49%), radial-gradient(at 57% 61%, rgb(252, 231, 243) 0, transparent 52%);
        
      
    }


}
